<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake Data for DB</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <h1>Generador de Datos Falsos</h1>

    <form method="POST">
        <h3>Selecciona los datos que deseas generar:</h3>
        <div class="checkboxes">
            <label><input type="checkbox" name="datos" value="nombre" {% if 'nombre' in datos_seleccionados %}checked{%
                    endif %}> Nombre</label>
            <label><input type="checkbox" name="datos" value="apellido" {% if 'apellido' in datos_seleccionados
                    %}checked{% endif %}> Apellido</label>
            <label><input type="checkbox" name="datos" value="dni" {% if 'dni' in datos_seleccionados
                %}checked{% endif %}> DNI</label>
            <label><input type="checkbox" name="datos" value="cuit" {% if 'cuit' in datos_seleccionados
                %}checked{% endif %}> CUIT</label>
            <label><input type="checkbox" name="datos" value="username" {% if 'username' in datos_seleccionados
                    %}checked{% endif %}> Username</label>
            <label><input type="checkbox" name="datos" value="password" {% if 'descripcion' in datos_seleccionados
                    %}checked{% endif %}>
                Contraseña</label>
            <label><input type="checkbox" name="datos" value="fecha_nacimiento" {% if 'fecha_nacimiento' in
                    datos_seleccionados %}checked{% endif %}> Fecha
                de Nacimiento</label>
            <label><input type="checkbox" name="datos" value="direccion" {% if 'direccion' in datos_seleccionados
                    %}checked{% endif %}>
                Dirección</label>
            <label><input type="checkbox" name="datos" value="email" {% if 'email' in datos_seleccionados %}checked{%
                    endif %}> Email</label>
            <label><input type="checkbox" name="datos" value="telefono" {% if 'telefono' in datos_seleccionados
                    %}checked{% endif %}> Teléfono</label>
            <label><input type="checkbox" name="datos" value="texto" {% if 'texto' in datos_seleccionados %}checked{%
                    endif %}> Texto Aleatorio</label>
            <label><input type="checkbox" name="datos" value="profesiones" {% if 'profesiones' in datos_seleccionados
                    %}checked{% endif %}>
                Profesión</label>
            <label><input type="checkbox" name="datos" value="empresa" {% if 'empresa' in datos_seleccionados
                    %}checked{% endif %}> Empresa</label>
            <label><input type="checkbox" name="datos" value="permisos" {% if 'permisos' in datos_seleccionados
                    %}checked{% endif %}> Permiso de Usuario</label>
            <label><input type="checkbox" name="datos" value="fecha" {% if 'fecha' in datos_seleccionados %}checked{%
                    endif %}> Fecha Aleatoria</label>
            <label><input type="checkbox" name="datos" value="productos" {% if 'productos' in datos_seleccionados
                    %}checked{% endif %}> Producto
                Aleatorio</label>
            <label><input type="checkbox" name="datos" value="descripcion" {% if 'descripcion' in datos_seleccionados
                    %}checked{% endif %}> Descripción
                Aleatoria</label>
            <label><input type="checkbox" name="datos" value="precio" {% if 'precio' in datos_seleccionados %}checked{%
                    endif %}> Precio</label>
            <label><input type="checkbox" name="datos" value="trueFalse" {% if 'trueFalse' in datos_seleccionados %}checked{%
                endif %}> True o False</label>
        </div>
        <label for="cantidad">Cantidad de datos a generar:</label>
        <input type="number" id="cantidad" name="cantidad" min="1" max="100" value="{{ cantidad }}" />
        <button type="submit">Generar</button>
    </form>

    <div class="container-table">
        <table>
            <thead>
                <tr>
                    {% if 'nombre' in datos_seleccionados %}
                    <th>Nombre</th>
                    {% endif %} {% if 'apellido' in datos_seleccionados %}
                    <th>Apellido</th>
                    {% endif %} {% if 'username' in datos_seleccionados %}
                    <th>Username</th>
                    {% endif %} {% if 'dni' in datos_seleccionados %}
                    <th>DNI</th>
                    {% endif %} {% if 'cuit' in datos_seleccionados %}
                    <th>CUIT</th>
                    {% endif %} {% if 'password' in datos_seleccionados %}
                    <th>Contraseña</th>
                    {% endif %} {% if 'fecha_nacimiento' in datos_seleccionados %}
                    <th>Fecha de Nacimiento</th>
                    {% endif %} {% if 'direccion' in datos_seleccionados %}
                    <th>Dirección</th>
                    {% endif %} {% if 'email' in datos_seleccionados %}
                    <th>Email</th>
                    {% endif %} {% if 'telefono' in datos_seleccionados %}
                    <th>Teléfono</th>
                    {% endif %} {% if 'texto' in datos_seleccionados %}
                    <th>Texto Aleatorio</th>
                    {% endif %} {% if 'profesiones' in datos_seleccionados %}
                    <th>Profesión Aleatoria</th>
                    {% endif %} {% if 'empresa' in datos_seleccionados %}
                    <th>Empresa</th>
                    {% endif %} {% if 'permisos' in datos_seleccionados %}
                    <th>Permisos</th>
                    {% endif %} {% if 'fecha' in datos_seleccionados %}
                    <th>Fecha Aleatoria</th>
                    {% endif %} {% if 'productos' in datos_seleccionados %}
                    <th>Productos</th>
                    {% endif %} {% if 'descripcion' in datos_seleccionados %}
                    <th>Descripción</th>
                    {% endif %} {% if 'precio' in datos_seleccionados %}
                    <th>Precio</th>
                    {% endif %} {% if 'trueFalse' in datos_seleccionados %}
                    <th>True o False</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    {% if 'nombre' in usuario %}
                    <td>{{ usuario.nombre }}</td>
                    {% endif %} {% if 'apellido' in usuario %}
                    <td>{{ usuario.apellido }}</td>
                    {% endif %} {% if 'dni' in usuario %}
                    <td>{{ usuario.dni }}</td>
                    {% endif %} {% if 'cuit' in usuario %}
                    <td>{{ usuario.cuit }}</td>
                    {% endif %} {% if 'username' in usuario %}
                    <td>{{ usuario.username }}</td>
                    {% endif %} {% if 'password' in datos_seleccionados %}
                    <td>{{ usuario.password }}</td>
                    {% endif %} {% if 'fecha_nacimiento' in usuario %}
                    <td>{{ usuario.fecha_nacimiento }}</td>
                    {% endif %} {% if 'direccion' in usuario %}
                    <td>{{ usuario.direccion }}</td>
                    {% endif %} {% if 'email' in usuario %}
                    <td>{{ usuario.email }}</td>
                    {% endif %} {% if 'telefono' in usuario %}
                    <td>{{ usuario.telefono }}</td>
                    {% endif %} {% if 'texto' in usuario %}
                    <td>{{ usuario.texto }}</td>
                    {% endif %} {% if 'profesiones' in datos_seleccionados %}
                    <td>{{ usuario.profesion }}</td>
                    {% endif %} {% if 'empresa' in datos_seleccionados %}
                    <td>{{ usuario.empresa }}</td>
                    {% endif %} {% if 'permisos' in datos_seleccionados %}
                    <td>{{ usuario.permisos }}</td>
                    {% endif %} {% if 'fecha' in datos_seleccionados %}
                    <td>{{ usuario.fecha }}</td>
                    {% endif %} {% if 'productos' in datos_seleccionados %}
                    <td>{{ usuario.productos }}</td>
                    {% endif %} {% if 'descripcion' in datos_seleccionados %}
                    <td>{{ usuario.descripcion }}</td>
                    {% endif %} {% if 'precio' in datos_seleccionados %}
                    <td>{{ usuario.precio }}</td>
                    {% endif %} {% if 'trueFalse' in datos_seleccionados %}
                    <td>{{ usuario.trueFalse }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button id="generate-sql-btn">Generar Código MySQL</button>
    <!-- Área de texto para mostrar el código MySQL generado -->
    <textarea id="sql-output" onclick="this.select()" readonly placeholder="Aquí aparecerá el código SQL..."></textarea>


    {% block script %} {% endblock %}

    <footer>
        <a href="https://github.com/GGabi40/fake-data-bbdd" target="_blank" rel="noopener noreferrer" id="github"><i class="fa-brands fa-github"></i> Repositorio de GitHub</a>
        <p>
            Developed with ♥️ by
            <a href="http://instagram.com/ggabi40" target="_blank" rel="noopener noreferrer"
                class="instagram">GGabi40</a>.
        </p>
    </footer>
</body>

</html>